<!-- <br>
<form [formGroup]="form">
  <div class="form-group">
    <label for="email">email</label>
    <input type="email"
           class="form-control"
           id="email"
           formControlName="name">
    <div class="alert alert-danger" *ngIf="email?.touched && email?.invalid" >
      <div *ngIf="email?.errors?.required">le email est obligatoire !</div>
      <div *ngIf="email?.errors?.email">le email est invalide !</div>
    </div>

  </div>
  <div class="form-group">
    <label for="password">password</label>
    <input type="password"
           class="form-control"
           id="password"
           formControlName="password">
    <div class="alert alert-danger" *ngIf="password?.touched && password?.invalid">
            le password est obligatoire !
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
  </div>
</form> -->
